<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h2 class="header center gray-text text-lighten-2">Entretenimiento y Educacion para Niños</h2>
        <div class="row center">
          <h5 class="header col s12 light">Donde Aprender es Divertido!</h5>
        </div>
        <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light purple pulse lighten-1">Inicia Ahora</a>
        </div>
        <br><br>
      </div>
    </div>
      <div class="parallax">
          <%= image_tag "parallax_banner.jpg", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
      </div>

  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12">
          <div class="card-panel red center">
            <h4 class="white-text">Aprende con Nosotros</h4>
            <p class="white-text left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

          </div>
        </div>
      </div>

    </div>
  </div>

    <div class="container">
      <h4>Aqui Encontraras:</h4>

      <div class="row">

        <div class="col s12 m7">
          <div class="card hoverable">
             <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag "colores_banner.jpg", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Colores<i class="material-icons right">more_vert</i></span>
               <p><a class="waves-effect pulse waves-light btn red " href="#modal1">Ver video..</a></p>               

             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Colores<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
           </div>
        </div>

        <div class="col s12 m5">
          <div class="card hoverable">
             <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag "letras_banner.jpg", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Letras<i class="material-icons right">more_vert</i></span>
               <p><a class="waves-effect pulse waves-light btn purple" href="#modal2">Ver video..</a></p>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Letras<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
           </div>
        </div>

        <div class="col s12 m7">
          <div class="card hoverable">
             <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag "numeros_banner.jpg", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Numeros<i class="material-icons right">more_vert</i></span>
               <p><a class="waves-effect pulse waves-light btn orange " href="#modal3">Ver video..</a></p>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Numeros<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
           </div>
        </div>

        <div class="col s12 m5">
          <div class="card hoverable">
             <div class="card-image waves-effect waves-block waves-light">
               <%= image_tag "figuras_banner.jpg", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
             </div>
             <div class="card-content">
               <span class="card-title activator grey-text text-darken-4">Figuras<i class="material-icons right">more_vert</i></span>
               <p><a class="waves-effect pulse waves-light btn  blue" href="#modal4">Ver video..</a></p>
             </div>
             <div class="card-reveal">
               <span class="card-title grey-text text-darken-4">Figuras<i class="material-icons right">close</i></span>
               <p>Here is some more information about this product that is only revealed once clicked on.</p>
             </div>
           </div>
        </div>

      </div>

            <div class="row">
        <div class="col s12">
          <div class="card-panel green center">
            <h4 class="white-text">Contactenos</h4>
            <p class="white-text left-align light">
               Nuestra Mision es estimular el aprendizaje infantil en los niños!, Los niños deben aprender y divertise al mismo tiempo. Papas, pueden
               contactarse con Children Website para retroalimentarnos con sugerencias que colobaren a esta gran misión, si deseas que se agregen nuevos temas, actividades, videos educativos, etc, favor escribirnos por nuestra bandeja de contacto, tu opinion sera tomada en cuenta
               por el bienestar de tu niño.
            </p>

          </div>
        </div>
      </div>

    </div>

    <!-- Modal Structure -->
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Disfruta y Aprende...</h4>
              <h6>Los Colores</h6>
              <div class="col s8 center">
              <video class="responsive-video" controls>
                <source width="320" height="180" src="<%= asset_path 'videos/colores_video.mp4' %>" type="video/mp4">
              </video>
            </div>
            </div>            
            <div class="modal-footer">
             <%= image_tag "logo.png",:class => "left", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Aceptar</a>
            </div>
          </div>

          <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Disfruta y Aprende...</h4>
              <h6>Las Letras</h6>
               <div class="col s12 center">
              <video class="responsive-video" controls>
                <source src="<%= asset_path 'videos/letras_video.mp4' %>" type="video/mp4">
              </video>
            </div>
            </div>
           
            <div class="modal-footer">
            <%= image_tag "logo.png",:class => "left", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Aceptar</a>
            </div>
          </div>

          <div id="modal3" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Disfruta y Aprende...</h4>
              <h6>Los Numeros</h6>
                 <div class="col s12 center">
                      <video class="responsive-video" controls>
                        <source src="<%= asset_path 'videos/numeros_video.mp4' %>" type="video/mp4">
                      </video>
                </div>
            </div>
           
            <div class="modal-footer">
            <%= image_tag "logo.png",:class => "left", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Aceptar</a>
            </div>
          </div>

          <div id="modal4" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Disfruta y Aprende...</h4>
              <h6>Las Formas o Figuras</h6>
              <div class="col s12 center">
              <video class="responsive-video" controls>
                <source src="<%= asset_path 'videos/formas_video.mp4' %>" type="video/mp4">
              </video>
            </div>
            </div>
            
            <div class="modal-footer">
            <%= image_tag "logo.png",:class => "left", :alt => "Imagen 1", :title => "Children WebSite Banner"%>
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn red">Aceptar</a>
            </div>
          </div>